body {
    background: #E7D4B5;
}

.cloud {
    margin-top: 314px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

   }



.cloud_img {

    margin: 114px 100px;
    position: absolute

}

.form {
    position: absolute;
    
}




