body {
    background: #E7D4B5;
}

.cloud {
    margin-top: 314px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

   }



.cloud_img {
    width: 900px;
    height: 600px;   
    position: absolute

}

.cloud_img:hover {
    transform: scale(1.02);
}

.form {
    position: absolute;
    
}

.form:hover {
    transform: scale(1.01);
}

@media screen and (max-width:700px) {
 .cloud_img {
     width: 350px;
     height: 200px;
 }


}
    





